section .container {
  width: 90%;
  margin: 0 auto;
}
.shop.row {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.shop-cart-area h2 {
  margin: 20px 0px;
}
.cart-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* grid-auto-rows: 1fr; */
}
.order-summary {
  background-color: #ffe0b3;
  padding: 20px 5px 20px 20px;
  height: 100vh;
  position: sticky;
  top: 0px;
}
@media (max-width: 767px) {
  .shop.row {
    grid-template-columns: 1fr;
  }
  .container {
    order: 2;
  }

  .order-summary {
    order: 1;
    height: 25vh !important;
    position: sticky;
    top: 0px;
    left: 0px;
    overflow: hidden;
    padding: 10px 5px 10px 10px;
    overflow-y: scroll;
  }
  .cart-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 610px) {
  .header .container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

.Btn,
.Btn button {
  padding: 7px 7px;
  background: rgb(255, 161, 161);
  border: 1px solid rgb(255, 161, 161);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.Btn svg,
.Btn button svg {
  transition: all 0.3s ease-in-out;
  padding-left: 5px;
}
.Btn:hover svg,
.Btn button:hover svg {
  transition: all 0.3s ease-in-out;
  margin-left: 5px;
}
