.cart-area {
}
.cart-area p {
  margin: 15px 0px;
}

@media (max-width: 767px) {
  .cart-info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .cart-area p {
    margin: 0px 0px;
    background: rgb(233, 161, 161);
    padding: 5px;
    border-radius: 3px;
  }
  .cart-area h2 {
    margin-bottom: 10px;
  }
}
